<md-dialog class="fill col">
    <md-tabs class="flex col" md-selected="pageIndex" md-swipe-content>
        <md-tab label="questions.indexOf(item)" ng-repeat="item in questions">
            <div class="fill col">
                <div class="flex col p16 align-center">
                    <p class="size24 bold mv16 nowrap-disabled">{{item.question}}</p>
                    <md-radio-group ng-model="item.answer">
                        <md-radio-button ng-value="answer" ng-repeat="answer in item.answers" ng-click="next()">{{answer}}</md-radio-button>
                    </md-radio-group>
                </div>
                <div class="primary-button m16 white-back" ng-click="next()">Skip</div>
            </div>
        </md-tab>
        <md-tab label="ss">
            <div class="fill col">
            <p>Вы можете взять в кредит</p>
            <p>Сумма: {{formatAmount(amount, wallet.gas_domain)}}</p>
            <p>Срок: {{formatSec(period)}}</p>
            <p>Процент: {{formatPercent(percent)}}</p>
            <div class="primary-button m16 mt0" ng-click="getCredit()">Accept</div>
            <div class="primary-button m16 mt0 white-back" ng-click="close()">Decline</div>
        </md-tab>
    </md-tabs>
</md-dialog>