<md-dialog class="fill col">
    <md-tabs class="flex col" md-selected="pageIndex" md-swipe-content>
        <md-tab label="questions.indexOf(item)" ng-repeat="item in questions">
            <div class="fill col">
                <div class="flex col p16 align-center">
                    <p class="size24 bold mv16 nowrap-disabled">{{item.question}}</p>
                    <md-radio-group ng-model="item.answer">
                        <md-radio-button ng-value="answer" ng-repeat="answer in item.answers" ng-click="next()">
                            {{answer}}
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div class="primary-button m16 back-black" ng-click="next()">Skip</div>
            </div>
        </md-tab>
        <md-tab label="ss">
            <div class="fill col input-content">
                <div class="flex col p16 align-center size24 bold">
                    <p class=" mv16 nowrap-disabled">{{item.question}}</p>
                    <p>Вы можете взять в кредит</p>
                    <p>Сумма: {{formatAmount(rating, wallet.gas_domain)}}</p>
                    <p>Процент: {{formatPercent(percent)}}</p>
                </div>
                <div class="row align-start-center">
                    <input type="checkbox" ng-click="agreeWithRules()" class="styled-checkbox"/>
                    <p class="mh8">agree to</p>
                    <a href="/mfm-angular-template/docs?path=/mfm-bank/docs/credit_rules.md" target="_blank">
                        Credit rules
                    </a>
                </div>
                <div class="primary-button back-pay text-white" ng-disabled="!agree" ng-click="getCredit()">Accept</div>
                <div class="primary-button back-black" ng-click="close()">Decline</div>
            </div>
        </md-tab>
    </md-tabs>
</md-dialog>