<md-dialog class="fill col">
    <md-tabs class="flex col" md-selected="pageIndex" md-swipe-content>
        <md-tab label="questions.indexOf(item)" ng-repeat="item in questions">
            <div class="fill col">
                <div class="flex col p16 align-center input-content">
                    <p class="text1 nowrap-disabled">{{item.question}}</p>
                    <div class="mt16 p16 back-gray radius-default"
                         ng-repeat="answer in item.answers"
                         ng-style="{'background-color': item.answer === answer ? 'var(--gray200)' : 'var(--gray100)'}"
                         ng-click="setAnswer(item, answer)">
                        <p>{{answer}}</p>
                    </div>
                </div>
                <div class="primary-button m16 back-black" ng-click="next()">{{str.skip}}</div>
            </div>
        </md-tab>
        <md-tab label="ss">
            <div class="fill col input-content">
                <div class="flex col p16 align-center size24 bold">
                    <p class=" mv16 nowrap-disabled">{{item.question}}</p>
                    <p>{{str.you_can_get_credit}}</p>
                    <p>{{str.total}}: {{formatAmount(rating, wallet.gas_domain)}}</p>
                    <p>{{str.percent}}: {{formatPercent(percent)}}</p>
                </div>
                <div class="row align-start-center">
                    <input type="checkbox" ng-click="agreeWithRules()" class="styled-checkbox"/>
                    <p class="mh8 lowercase">{{str.agree_to}}</p>
                    <a href="/mfm-angular-template/docs?path=/mfm-bank/docs/credit_rules.md" target="_blank">
                        {{str.credit_rules}}
                    </a>
                </div>
                <div class="primary-button back-pay text-white" ng-disabled="!agree" ng-click="getCredit()">{{str.accept}}</div>
                <div class="primary-button back-black" ng-click="close()">{{str.decline}}</div>
            </div>
        </md-tab>
    </md-tabs>
</md-dialog>